In [1]:
import pandas as pd
import numpy as np

In [12]:
df = pd.read_csv("dataset/LastFM-100K/LastFM-100K.user", sep="\t")
df1 = pd.read_csv("dataset/BookRec-100K/BookRec-100K.user", sep="\t")
df2 = pd.read_csv("dataset/ml-1M/ml-1M.user", sep="\t")

In [5]:
df.describe()

,user_id:token,gender:token,age:token,country:token,datejoined:token
count,75724,75724,75724,75724,75724
unique,75724,2,4,221,2077
top,000063d3fe1cf2ba248b9e3c3f0334845a27a6bf,m,Y,United States,"Nov 2, 2008"
freq,1,56174,55586,14019,112

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75724 entries, 0 to 75723
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   user_id:token     75724 non-null  object
 1   gender:token      75724 non-null  object
 2   age:token         75724 non-null  object
 3   country:token     75724 non-null  object
 4   datejoined:token  75724 non-null  object
dtypes: object(5)
memory usage: 2.9+ MB

In [13]:
print(df['age:token'].value_counts())
print(df1['age:token'].value_counts())
print(df2['age:token'].value_counts())

Y    55586
T    15895
A     3600
S      643
Name: age:token, dtype: int64
Y    93428
A    45511
T    19963
S     9194
Name: age:token, dtype: int64
Y    573
A    262
T     77
S     31
Name: age:token, dtype: int64